body{
	font-family: 'Cinzel', serif;
}
.header{
	font-family: 'Cinzel', serif;
}
.container{
	width: 80%;
	margin: 0 auto;
}
.center{
	display: block;
	text-align: center;
}

#profileImage{
	width: 75px;
}
img {
	width: 100%;
	height: auto;
}

.player{
	width: 60vw;
	margin: 0 auto;
}
.navText{
	text-decoration: none;
	font-size: 20px;
}
.icon{
	margin: 0 auto;
	width: 50px;
	padding-left: 1vw;
	padding-right: 1vw;
}

.sidenav {
	font-family: 'Germania One', cursive;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.column {
    display: block;
    padding: 1.25vw;
    float: left;
    width: 45%;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.covers {
	width: 100%;
	height: auto;
    padding: 1vw;
}

ul {
    font-size: 5px;
}

.menuLogo {
    width: 75%;
    height: auto;
    padding-left: 32px;
 

}
